@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à nossa pesquisa de satisfação</h1>
</div>

<section>
    <div class="container-fluid text-center get-start">
        <h2>
            <p>Para começar a pesquisa de satisfação é só clicar no link abaixo e cadastrar a sua opinião.</p>
        </h2>

         <a class="btn btn-secondary btn-lg" asp-controller="Survey" asp-action="Cliente">Get start</a>
    </div>
</section>
