@{
    ViewData["Title"] = "Saved";
}

<div class="container-fluid text-center get-start">
    <h2>
        <p>Sua avaliação sobre a Empresa foi salva com sucesso.</p>
        <p>Obrigado por colaborar com a nossa pesquisa!</p>
    </h2>
    <a class="btn btn-secondary btn-lg" asp-controller="Home" asp-action="Index" role="button">Voltar para o Início</a>
</div>